.side-panel {
  padding: 12px;
  background: #252526;
  color: #ccc;
  overflow-y: auto;
}
.panel-title {
  margin-bottom: 8px;
  color: #000000;
  font-size: 13px;
  text-transform: uppercase;

}
.side-panel h5 {
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 12px;
  color: #6a9955;
}
.explorer-list, .search-results, .commit-list, .contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.explorer-list li, .search-results li, .commit-list li, .contact-list li {
  padding: 6px 4px;
  border-radius: 4px;
  transition: background .2s;
  cursor: pointer;
}
.explorer-list li:hover,
.search-results li:hover,
.commit-list li:hover,
.contact-list li:hover {
  background: #2a2d2e;
}


.bar-bg {
  background: #333;
  height: 6px;
  border-radius: 3px;
  margin-top: 4px;
  overflow: hidden;
}
.bar-fill {
  background: #007acc;
  height: 100%;
  transition: width .3s;
}
/* .extension-item {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
} */
/* .extension-item .icon {
  font-size: 18px;
} */
/* .extension-item .desc {
  font-size: 11px;
  color: #888;
} */
/* .accounts .avatar {
  font-size: 32px;
} */
/* .accounts .status {
  font-size: 11px;
  color: #6a9955;
} */
/* .accounts .social a {
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
} */
/* .accounts .social a:hover {
  color: #007acc;
} */
/* .settings section {
  margin-bottom: 12px;
} */
/* .settings ul {
  list-style: disc inside;
  margin: 0;
  padding: 0;
} */

.activity-bar button {
  background: none;
  border: none;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.activity-bar .codicon[class*='codicon-'] {
    display: inline-block;
    font-size: 22px;
    color: #ffffff;
}


/* .explorer-list, .nested {
  list-style: none;
  padding-left: 10px;
  margin: 0;
} */
/* .folder-header:hover {
  background-color: rgba(0, 122, 204, 0.10);
  border-radius: 4px;
} */
/* .nested { padding-left: 18px; } */
/* .file:hover {
  background-color: #252526;
  border-radius: 4px;
} */

.li .file{
  margin-left: 100px;
}

.skill-section{
  margin-top: 30px;
}